.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.project-image {
  width: 200px;
  height: 200px;
  border: 1px solid #61dafb;
  margin: 20px;
}

.project-image>h4 {
  margin-top: 70px;
  visibility: hidden;
  color: white;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

.project-image:hover>h4 {
  transition: all ease-in-out 0.2s;
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}