button {
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  padding: 5px;
  background-color: lightskyblue;
}

input {
  width: 10px;
  padding: 7px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
}

button:hover {
  opacity: 0.6;
}

td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.move {
  animation: move 1.6s forwards;
}

.reset {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.settings {
  display: none;
  width: 300px;
  top: 100px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -150px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.exit-settings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
}

#easy {
  background-color: green;
}

#moderate {
  background-color: yellow;
}

#hard {
  background-color: orange;
}

#impossible {
  background-color: red;
}

.close-settings {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.warning {
  text-align: center;
  padding: 10px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: red;
  font-weight: bolder;
  font-size: 15px;
  height: 15px;
}

.ai-settings {
  display: none;
}

.pass-and-play {
  display: none;
}

.secondPlayer-settings {
  display: none;
}

.single-player {
  display: none;
}

.ai-settings.display {
  display: block;
}

.pass-and-play.display {
  margin: auto;
  display: block;
}

.secondPlayer-settings.display {
  display: block;
}

.single-player.display {
  margin: auto;
  display: block;
}

/* .warning.hide {
  animation: disappear 5s forwards;
} */

@keyframes move {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}