/* .cell {
  border: 3px solid white;
  margin-bottom: 5px;
  border-radius: 10%;
  height: 90px;
  width: 70px;
  position: relative;
} */

.container {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.child {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.childCards {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.hand {
  width: 250px;
}

.animation {
  opacity: 0;
  transform: translateX(20px);
}


.animation:nth-child(1) {
  animation: fadeLeft 0.2s 0s forwards;
}

.animation:nth-child(2) {
  animation: fadeLeft 0.2s 0.1s forwards;
}

.animation:nth-child(3) {
  animation: fadeLeft 0.2s 0.2s forwards;
}

.animation:nth-child(4) {
  animation: fadeLeft 0.2s 0.3s forwards;
}

.animation:nth-child(5) {
  animation: fadeLeft 0.2s 0.4s forwards;
}

.animation:nth-child(6) {
  animation: fadeLeft 0.2s 0.5s forwards;
}

.animation:nth-child(7) {
  animation: fadeLeft 0.2s 0.6s forwards;
}

.animation:nth-child(8) {
  animation: fadeLeft 0.2s 0.7s forwards;
}

.animation:nth-child(9) {
  animation: fadeLeft 0.2s 0.8s forwards;
}

.animation:nth-child(10) {
  animation: fadeLeft 0.2s 0.9s forwards;
}

.animation:nth-child(11) {
  animation: fadeLeft 0.2s 0s forwards;
}

.animation:nth-child(12) {
  animation: fadeLeft 0.2s 0.1s forwards;
}

.animation:nth-child(13) {
  animation: fadeLeft 0.2s 0.2s forwards;
}

.animation:nth-child(14) {
  animation: fadeLeft 0.2s 0.3s forwards;
}

.animation:nth-child(15) {
  animation: fadeLeft 0.2s 0.4s forwards;
}

.animation:nth-child(16) {
  animation: fadeLeft 0.2s 0.5s forwards;
}

.animation:nth-child(17) {
  animation: fadeLeft 0.2s 0.6s forwards;
}

.animation:nth-child(18) {
  animation: fadeLeft 0.2s 0.7s forwards;
}

.animation:nth-child(19) {
  animation: fadeLeft 0.2s 0.8s forwards;
}

.animation:nth-child(20) {
  animation: fadeLeft 0.2s 0.9s forwards;
}

@keyframes fadeLeft {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media all and (max-width: 700px) {

  .container {
    overflow: auto;
    max-width: 350px;
    margin: auto;
  }

  .child {
    margin: 0;
    display: flex !important;
    flex-wrap: nowrap;
    width: fit-content;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-left: 1620px;
  }

  .childCards {
    margin: 0;
    flex-flow: nowrap !important;
    cursor: pointer;
    margin: 10px;
    width: 70px;
  }

  .hand {
    margin: 0;
    width: auto;
    margin-left: 540px;
  }

}