.heading {
  display: flex;
  margin: auto;
  width: 650px;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
  height: auto;
  padding-top: 30px;
}

.player1 {
  width: 320px;
  height: 50px;
  position: relative;
  margin-bottom: 10px
}

.player1-item:nth-child(1) {
  position: absolute;
  left: 25px;
  top: 10px;
}

.player1-item:nth-child(2) {
  position: absolute;
  top: 10px;
  right: 30px;
  text-align: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: white;
  border-radius: 50%;
  margin: auto;
  color: black;
  font-size: 15px;
}

.player1-item:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  left: 0;
  transform: translate(-30px, 1px);
  -webkit-box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
}

.player2 {
  width: 320px;
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}

.player2-item:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 30px;
  text-align: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: white;
  border-radius: 50%;
  margin: auto;
  color: black;
  font-size: 15px;
}

.player2-item:nth-child(2) {
  position: absolute;
  right: 25px;
  top: 10px;
}

.player2-item:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  right: 0;
  transform: translate(30px, 1px);
  -webkit-box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
}

.player1Board {
  border: 3px solid rgba(0, 0, 100, 0.3);
  border-bottom: none;
  border-top: none;
  border-radius: 10%;
  margin: auto;

}

.player2Board {
  border: 3px solid rgba(0, 0, 100, 0.3);
  border-bottom: none;
  border-top: none;
  border-radius: 10%;
  margin: auto;
}

.hide {
  opacity: 1;
}

/* @media all and (max-width: 700px) {
  .player2Board {
    display: none;
  }
} */

.scoreboard1 {
  position: absolute;
  left: 0;
  transform: translate(-40px, 225%);
  width: 30px;
}

.scoreboard2 {
  position: absolute;
  transform: translate(290px, 225%);
  width: 30px;
}


.bubble {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.cardTable {
  width: 300px;
  height: auto;
  margin: auto;
}

.cell {
  border: 3px solid white;
  margin-bottom: 5px;
  border-radius: 10%;
  height: 90px;
  width: 70px;
  position: relative;
}

.cardNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.playersCards {
  width: 850px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.player1Cards {
  margin: auto;
  padding-right: 10px;
}

.player2Cards {
  margin: auto;
  padding-left: 10px;
}

.playerHand {
  width: 400px;
  margin: auto;
}

.option-holder {
  position: absolute;
  transform: translate(11px, -11px);
}

.endGameModal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -55%);
  width: 250px;
  height: 100px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  z-index: 999;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.customButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(57, 57, 57, 0.75);
}

.customButton:hover {
  background-color: rgba(103, 103, 103, 0.75);
}

.playerStatus {
  visibility: hidden;
}

.otherPlayerCount {
  text-align: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: white;
  border-radius: 50%;
  margin: auto;
  color: black;
  font-size: 15px;
}

.tinyGreenCard {
  width: 10px;
  height: 15px;
  background-color: #4dd500;
  margin-top: 6px;
  border: 1px solid white;
  border-radius: 2px;
}

.tinyHandCard {
  width: 10px;
  height: 15px;
  background-color: blue;
  margin-top: 6px;
  border: 1px solid white;
  border-radius: 2px;
}

@media all and (max-width: 700px) {
  .board {
    grid-template-columns: 1fr;
  }

  .playersCards {
    grid-template-columns: 1fr;
  }

  .playerStatus {
    visibility: visible;
  }

  .game-container {
    display: block;
    width: fit-content;
    max-width: min-content;
    padding-left: 20px;
    height: auto;
    padding-top: 40px;
  }

  .playersCards {
    width: fit-content;
    margin: auto;
    grid-template-columns: 100%;
    padding: 0;
  }

  .scoreboard2 {
    left: 0;
    transform: translate(-40px, 225%);
  }

  .player2-item:nth-child(2) {
    right: 75px;
  }

  .player2-item:nth-child(3) {
    right: 50px;
  }
}