.card-container {
  position: relative;
  border-color: white;
  width: 65px;
  transform: translate(-0.5px, -0.5px);
}

.top {
  position: relative;
  height: 25px;
  width: 100%;
  border-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: inset 0px 46px 50px -45px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 46px 50px -45px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 46px 50px -45px rgba(0, 0, 0, 0.9);
}

.bubbleTop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: 900;
  transform: translate(1px, -1px);
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.signTop {
  transform: translate(0.35px, -1.0px);
}

.signBottom {
  transform: translate(-0.3px, -0.8px);
}

.bubbleBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: 900;
  transform: translate(-1px, 1px);
  background-color: red;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.8);

}

.bottom {
  position: relative;
  height: 25px;
  width: 100%;
  border-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: inset 0px -46px 50px -45px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -46px 50px -45px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -46px 50px -45px rgba(0, 0, 0, 0.9);
}

.triangleUp {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 1px);
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid white;
}

.triangleBottom {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -1px);
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  border-right: 10px solid rgba(0, 0, 0, 0.2);
  border-top: 10px solid white;
}

.number {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: black;
  font-size: 16px;
  color: white;
  font-weight: 900;
}

.plusSign {
  position: absolute;
  transform: translate(-14px, -4px);
}

.minusSign {
  position: absolute;
  transform: translate(-14px, 4px);
}