.card-container {
  position: relative;
}

.top {
  position: relative;
  height: 25px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  transform: translate(1px, -1px);
}

.bottom {
  position: relative;
  height: 25px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.triangleUp {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid white;
}

.triangleBottom {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid white;
}

.number {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: black;
  font-size: 15px;
  color: white;
  font-weight: 900;
}