.clicked {
    animation: move 1.6s forwards;
}

.notClicked {
    opacity: 0;
}

td.cell {
    border: 2px solid white;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    cursor: pointer;
}

table.table {
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

table tr.tr:first-child td.cell {
    border-top: 0;
}

table tr:last-child td.cell {
    border-bottom: 0;
}

table tr td.cell:first-child {
    border-left: 0;
}

table tr td.cell:last-child {
    border-right: 0;
}

.details-modal .modal-content {
    background-color: #282c34;
    color: white;
}

.difficulty-buttons {
    width: 110px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.button-grid {
    display: flex;
    flex-direction: row;
}

.row.footer {
    --bs-gutter-x: 0px;
}

@media all and (max-width: 520px) {
    .button-grid {
        flex-direction: column;
    }
}

@media all and (max-width: 767px) {
    table.table {
        width: 300px;
        height: 300px;
        margin: 10px auto;

    }
}


/* .endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
} */


@keyframes move {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}